 1.What are data structures, and why are they important
  
    Data structures are ways of organizing and storing data in a computer so that they can be used efficiently. They define the relationship between the data and the operations that can be performed on the data.
    In Python, data structures are essential for managing and manipulating data effectively.
    
    User-defined data structures add additional functionality to Python, thereby allowing users to access, modify or preserve data in specific ways. In addition to Python's built-in data structures, there are a number of user-defined data structures you can use, such as arrays, stacks, queues, trees and more.

2. Explain the difference between mutable and immutable data types with examples

    in Python, data types can be classified as either mutable or immutable, based on whether their values can be changed after they are created.

    **Mutable data types**: These are data types that allow modification of their values after creation. Common mutable data types in Python include:

      **Lists**: Ordered collections of items, which can be modified by adding, removing, or changing elements.

      **Dictionaries**: Collections of key-value pairs, where values can be modified, added, or removed.

      **Sets**: Unordered collections of unique elements, which can be modified by adding or removing elements.
      Example

        my_list = [1, 2, 3]
        my_list.append(4)  # Modifies the list in-place
        print(my_list)  # Output: [1, 2, 3, 4]

    **Immutable data types**: These are data types whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the modified value. Common immutable data types in Python include:

    **Strings**: Sequences of characters, which cannot be modified after creation.
    **Tuples**: Ordered collections of items, similar to lists, but immutable.
  **  Frozen sets**: Immutable versions of sets.

    Example
       my_tuple = (1, 2, 3)
        # my_tuple[0] = 4  # This would raise an error because tuples are immutable
        new_tuple = my_tuple + (4,) # creates a new tuple
        print(my_tuple) # Output: (1, 2, 3)
        print(new_tuple) # Output: (1, 2, 3, 4)

 3.What are the main differences between lists and tuples in Python
  
  Key Differences between List and Tuple

    1	Lists are mutable(can be modified).	Tuples are immutable(cannot be modified).
    2	Iteration over lists is time-consuming.	Iterations over tuple is faster
    3	Lists are better for performing operations, such as insertion and deletion.	Tuples are more suitable for accessing elements efficiently.
    4	Lists consume more memory.	Tuples consumes less memory
    5	Lists have several built-in methods.	Tuples have fewer built-in methods.
    6	Lists are more prone to unexpected changes and errors.	Tuples, being immutable are less error prone.

4.  Describe how dictionaries store data

      A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can't be repeated and must be immutable. Example: Here, The data is stored in key:value pairs in dictionaries, which makes it easier to find values
      
        d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
        print(d)
        #Output
        {1: 'Geeks', 2: 'For', 3: 'Geeks'}

5. Why might you use a set instead of a list in Python

    A set in Python is preferred over a list in scenarios prioritizing uniqueness and efficient membership testing. Sets, unlike lists, inherently store only unique elements, automatically eliminating duplicates. This characteristic proves valuable when dealing with data where redundancy is undesirable. Furthermore, sets utilize hashing for element storage, enabling significantly faster membership checks (using the in operator) compared to lists, which require linear searching. This efficiency becomes crucial when working with large collections where quick lookups are essential. Sets are also optimized for set operations like union, intersection, and difference, providing convenient tools for data manipulation. However, sets do not maintain element order, which might be a limitation in applications where sequence matters.

6. What is a string in Python, and how is it different from a list
    
    A string is a sequence of characters enclosed in quotes (single, double, or triple). Its immutable and cannot be changed after creation. Its Used to store and manipulate text data.

   Wheareas list is a collection of items that can be of any data type and can be modified (mutable). Lists are represented by square brackets and can contain multiple elements separated by commas. On the other hand, a string is a sequence of characters enclosed in single or double quotes. Strings are immutable, meaning their values cannot be changed once they are created. While both lists and strings can be accessed using indexing and slicing, lists provide more flexibility as they can be modified, appended, or extended, while strings cannot be altered after creation.

7.  How do tuples ensure data integrity in Python
    
    Tuples in Python ensure data integrity due to their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic makes tuples suitable for situations where data should remain constant throughout the program's execution, such as storing configuration settings, representing fixed records, or using them as keys in dictionaries. Immutability prevents accidental or unauthorized changes to the data, ensuring its consistency and reliability

8. What is a hash table, and how does it relate to dictionaries in Python
    
    
    A hash table is a data structure that stores key-value pairs, implementing an associative array or dictionary. It uses a hash function to compute an index for each key, determining the position in the table where the corresponding value is stored. This allows for efficient data retrieval, insertion, and deletion, typically with an average time complexity of O(1).

    In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable–they are generated by a hash function which generates a unique result for each unique value supplied to the hash function. Also, the order of data elements in a dictionary is not fixed

  9. Can lists contain different data types in Python
      
      Yes, lists in Python are highly flexible and can contain elements of different data types within the same list. This is a key feature of Python lists, allowing them to store heterogeneous collections of data. For example, a single list can contain integers, strings, floats, booleans, and even other lists or more complex objects.

10. Explain why strings are immutable in Python
      
      Python strings are immutable which means they cannot be changed after they are created.

In [ ]:
 #Explanation: We cannot update the string after declaring it means once an #immutable the objects instantiated, its value cannot be changed

 name_1 = "Aarun"
  name_1[0] = 'T'
Output: TypeError: 'str' object does not support item assignment

11. What advantages do dictionaries offer over lists for certain tasks

    1 - Dictionaries in Python offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

    2) Easy to understand key value pairs: Dictionaries consist of key value pairs, making it easier to associate and access relevant data together.

    3) Dynamic data structure: Dictionaries in Python are mutable, meaning you can add, update, or remove key value pairs as needed, providing flexibility in managing data.

    4) Efficient for storing large amounts of data: Due to its efficient data retrieval mechanism, dictionaries are ideal for storing and accessing large datasets quickly.

    5) Built in methods for manipulation: Python dictionaries offer a variety of built in methods such as `get()`, `keys()`, `values()`, and `items()` for easy data manipulation and iteration.

12. Describe a scenario where using a tuple would be preferable over a list

    Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant

 13.How do sets handle duplicate values in Python

    Sets in Python are designed to store only unique elements. When attempting to add a duplicate value to a set, Python automatically discards the duplicate, ensuring that the set retains only distinct values. This behavior makes sets useful for tasks such as removing duplicates from a list or checking for the presence of an element efficiently.

In [ ]:
fruit_set = {"apple", "banana", "cherry", "apple"}#apple is duplicate hence elemented from output results

print(fruit_set)

{'banana', 'apple', 'cherry'}

14. How does the “in” keyword work differently for lists and dictionaries

    1.IN Keyword with lists
      In this example, we will check if the string “php” is present in a list of programming languages. If it is, the program will print True.

      Explanation: The in operator checks if the string “php” is present in the list a. Since “php” exists in the list, the output will be True.

In [ ]:
a = ["php", "python", "java"]

if "php" in a:
    print(True)

True

      2.IN Keyword with dictionaries in this example

        In this case, we will check if the key “Alice” exists in a dictionary of student names and marks. If the key is found, we will print Alice’s marks.
        Explanation: The in operator checks whether “Alice” is present as a key in dictionary d. Since “Alice” is a key, it prints her marks.

In [ ]:
d = {"Alice": 90, "Bob": 85}

if "Alice" in d:
    print("Alice's marks are:", d["Alice"])

Alice's marks are: 90

15  Can you modify the elements of a tuple? Explain why or why not
    
    No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable data structures, meaning their elements cannot be changed after they are created. Attempting to assign a new value to an element within a tuple will raise a TypeError

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple.remove("apple")
print(thistuple)

AttributeError: 'tuple' object has no attribute 'remove'

16. What is a nested dictionary, and give an example of its use case

    A nested dictionary in Python is a dictionary whose values are themselves dictionaries. This allows for a hierarchical structure, where you can organize data into multiple levels of key-value pairs. A common use case is storing information with a hierarchical structure, like employee records organized by department.
    
    Here's an example:

In [ ]:
employees = {
    "Engineering": {
        "John": {"id": 101, "salary": 75000},
        "Jane": {"id": 102, "salary": 80000}
    },
    "Sales": {
        "Peter": {"id": 201, "salary": 60000},
        "Mary": {"id": 202, "salary": 65000}
    }
}
print( employees)

{'Engineering': {'John': {'id': 101, 'salary': 75000}, 'Jane': {'id': 102, 'salary': 80000}}, 'Sales': {'Peter': {'id': 201, 'salary': 60000}, 'Mary': {'id': 202, 'salary': 65000}}}

17.  Describe the time complexity of accessing elements in a dictionary

      The time complexity of accessing an element in a dictionary (also known as a hash table or associative array) is typically O(1), meaning it takes constant time regardless of the dictionary's size. This is because dictionaries use hashing to map keys to their corresponding values, allowing for direct access to the desired value in a single step

18.  In what situations are lists preferred over dictionaries

    Lists are perfect when the data is based on integers indexes, or when the data needs to be maintained in a specific order, or where the data needs to be able to be sorted. Finding a data item in a list is only efficient if you know the index. Lists are also useful where the ordering is irrelevant.

    Remember Python lists are not restricted to just storing strings, numbers etc - you can also store other lists and tuples.
    A great example for using a list is something like a shopping list - in this case the ordering doesn’t matter.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval

    A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python (before 3.7), dictionaries did not preserve insertion order at all. This meant that when you accessed or printed the items, the order could vary, as dictionaries were optimized for fast lookups rather than maintaining order.

    Starting from Python 3.7, dictionaries do retain insertion order as an implementation detail, meaning elements appear in the order they were added when you print or iterate over them. However, they are still called "unordered" because their primary function is fast key-based access, and they are not intended to be used as ordered collections like lists or tuples. So even though they appear ordered in Python 3.7+, the emphasis is still on key-value mapping rather than sequence.

20.Explain the difference between a list and a dictionary in terms of data retrieval.


    in terms of data retrieval, a dictionary excels at fast lookups by key, while a list is better suited for sequential access by index. Dictionaries use a hash-based approach, allowing for nearly instantaneous retrieval of a value when the key is known, whereas lists require traversing the list sequentially until the desired element is found.

    Here's a more detailed breakdown:
    Lists:
    Elements are accessed by their position (index) in the sequence.
    Retrieval time is proportional to the list's size, as elements need to be checked one by one.
    Best for ordered collections where you know the position of the desired element.
    Dictionaries:
    Elements are accessed by their associated key.
    Retrieval time is very fast (close to O(1) or constant time) due to the use of a hash table.
    Ideal for scenarios where you need to quickly look up data based on a unique identifier.

# Practical Questions

In [ ]:
 # 1. Write a code to create a string with your name and print it
name = "Abhishek"
print(name)

Abhishek

In [ ]:
#2 Write a code to find the length of the string "Hello World"
var_length = "Hello World"
print(len(var_length))

11

In [ ]:
#3  Write a code to slice the first 3 characters from the string "Python Programming"
var= "Python Programming"

print ( var[0:3])#index start from 0 .

Pyt

In [ ]:
#4  Write a code to convert the string "hello" to uppercase
var = "hello"
print(var.upper())

HELLO

In [ ]:
#5  Write a code to replace the word "apple" with "orange" in the string "I like apple"
str =  "I like apple"
x = str.replace("apple","orange")

print(x)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
lst = [1,2,3,4,5]
print (lst)

[1, 2, 3, 4, 5]

In [ ]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

lst = [1,2,3,4]
lst.append(10)
print (lst)

[1, 2, 3, 4, 10]

In [ ]:
 # 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1,2,3,4,5]
print (lst)
lst.remove(3)#remove 3
print (lst)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [ ]:
#9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print (lst)
lst.pop(1) #remove 2ns element  'b'
print (lst)

['a', 'b', 'c', 'd']
['a', 'c', 'd']

In [ ]:
# 10  Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
print (lst)
lst.reverse()
print (lst)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print (tup)

(100, 200, 300)

In [ ]:
#12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup = ('red', 'green', 'blue', 'yellow')
print (tup)

tup[1:] #Second-to-last element of the tuple

('red', 'green', 'blue', 'yellow')

('green', 'blue', 'yellow')

In [ ]:
#13   Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup = (10, 20, 5, 15)
min(tup)

5

In [ ]:
#14  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')


tup.index("cat")

1

In [ ]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tup1 =('Apple','Mango','kiwi'  )
'kiwi' in tup1

True

In [ ]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
s

{'a', 'b', 'c'}

In [ ]:
 #17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

In [ ]:
 #18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
 s = {1, 2, 3, 4, 5}
 s.remove(4)
 s

{1, 2, 3, 5}

In [ ]:
 #19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1= {1, 2, 3}
s2= {3, 4, 5}
s1|s2

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1= {1, 2, 3}
s2= {3, 4, 5}
s1&s2

{3}

In [ ]:
#  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dt = {"name":"Abhishek", "age":40, "city": "Pune"}
dt

{'name': 'Abhishek', 'age': 40, 'city': 'Pune'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dt = {'name': 'John', 'age': 25}
dt
dt.update({"country": "USA"})
dt

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dt1 = {'name': 'Alice', 'age': 30}
dt1.get("name")

'Alice'

In [ ]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dt1 ={'name': 'Bob', 'age': 22, 'city': 'New York'}
dt1
dt1.pop("age")
dt1

{'name': 'Bob', 'city': 'New York'}

In [ ]:
 #25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dt1 =  {'name': 'Alice', 'city': 'Paris'}
key = 'city'
print(key in dt1)

True

In [ ]:
 #26. Write a code to create a list, a tuple, and a dictionary, and print them all.

#list
grocery_list = ["Milk", "Orange", 1, 2.2, True, 3+5j]
#tuple
t = ("pwskills", "Ajay", 2, 2.3, True, 3+5j)

#dictionary
d = {"name":"Abhi", "email":"abhi@gmail.com", "contact": 1234}

print("list:- " ,grocery_list)
print("tuple:- ",t)
print("dictionary:- ",d)

list:-  ['Milk', 'Orange', 1, 2.2, True, (3+5j)]
tuple:-  ('pwskills', 'Ajay', 2, 2.3, True, (3+5j))
dictionary:-  {'name': 'Abhi', 'email': 'abhi@gmail.com', 'contact': 1234}

In [ ]:
#27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
lst = [56,9,1,54,59]
lst.sort()
lst

[1, 9, 54, 56, 59]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
grocery_list = ["Milk", "Orange", "mango", "Oil" ]
grocery_list[3]

'Oil'

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}

d3 = d1 | d2
print(d3)

{'x': 1, 'y': 3, 'z': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
myList = [1, 2, 3, 4, 4]
mySet = set(myList)
print(mySet)

{1, 2, 3, 4}